
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLE */

:root{
    /* FONTS */
    --FS: 1.1rem;
    --FS-XXL: 2.4rem;
    --FS-XL: 1.6rem;



    /* COLOR */
    --BK-COLOR: #8796d9;
    --FK-BK-COLOR: ;
    --FONT-C0LOR: #000;
    --FONT-COLOR-FOOTER-ROT: #333333;

    /* PADDING */
    --MAIN-PADDING: 5%;
    --MAIN-SECT-BOTTOM-PADDING: 20%;
    --FOOTER-PADDING: 20% 10%;
    
}

/* GENERAL STYLE */

/* MAIN CONTENT */

.main-content{
    background-color: var(--BK-COLOR);
    text-align: center;
    padding: var(--MAIN-PADDING);
}

.main-sect h1{
    font-size: var(--FS-XXL);
    margin-bottom: 5%;
    color: var(--FONT-C0LOR);
    text-transform: uppercase;
}

.main-sect h2{
    font-size: var(--FS-XL);
    color: var(--FONT-C0LOR);
    margin-bottom: 3%;
}

.main-sect p{
    font-size: var(--FS);
}

.main-sect p a{
    color: var(--FONT-C0LOR);
}

.main-sect{
    padding-bottom: var(--MAIN-SECT-BOTTOM-PADDING);
}



@media screen  and (min-width:500px) {
  
    
}